#nav-cen {
  color: rgb(36, 35, 35);
  display: inline-flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  padding: 0.5rem 1rem; /* Optional for better spacing */
  border: none; /* Remove button borders */
  background: none; /* Remove any background */
}

.nav-link:hover {
  border-bottom: 2px solid rgb(165, 21, 7);
}

.nav-link.active {
  border-bottom: 2px solid salmon;
  font-weight: bold;
}
